  body {
    text-align: center;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 24px;
  }

  .gallery-item {
    list-style: none;
      
  }

  .gallery-link {
    cursor: pointer;
  }

  .gallery-image {
  display: block;
  max-width: 360px;
  }

  .sl-caption {
    text-align: left;
  }